style.css
body{
font-family:'Arial',sans-serif;
margin:0;
padding:0;
}
header{
background-color:#988c8c;
color:#fff;
padding:10px;
text-align:center;
}
nav ul{
list-style:none;
padding:0;
display:flex;
justify-content:center;
}
nav li{
margin:0 10px;
}
main{
padding:20px;
}
nav{
display:flex;
justify-content:center;
}

